target
node_modules
npm-error.log
dist
dotmesh_install_log.txt
binaries
/yaml/
.media
*.sw*
*.log
.vagrant
config.stripe.yaml
*.tar.gz
*.tar
*~
frontend/src/ui/help.json
docs/statemachine.svg
.DS_Store
credentials.env
credentials.prod.env
cmd/dotmesh-server/pkg/dynamic-provisioning/dm-provisioner
LAST_IMAGE_BUILD
tests/config.sh
bazel-*
.dazel_run