# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true

ignored = ["github.com/dotmesh-io/cmd/dotmesh-server", "github.com/dotmesh-io/cmd/dm", "github.com/dotmesh-io/tests"]

[[constraint]]
  branch = "master"
  name = "github.com/nu7hatch/gouuid"

[[constraint]]
  name = "github.com/apache/thrift"
  revision = "84d6af4cf903571319e0ebddd7beb12bc93fb752"

[prune]
  go-tests = true
  unused-packages = true

[[constraint]]
  name = "github.com/openzipkin/zipkin-go-opentracing"
  version = "0.2.1"

[[constraint]]
  name = "github.com/gorilla/rpc"
  branch = "master"

[[constraint]]
  name = "github.com/coreos/etcd"
  version = "3.3.8"
